@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo personalizado para los botones accesibles */
.btn {
  @apply px-3 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition;
}
